{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="header-container">
    </div>
{% endblock %}

{% block content %}
<div id="basket-page" class="container py-5">
    <!-- Delivery details -->
    <div class="row">
        <div class="col-12 col-md-6">
            <h4>Checkout & Delivery</h4>
            <hr>
            <p>Please enter your delivery details below:</p>
            <!-- Payment details form -->
            <form action="{% url 'checkout' %}" method="POST" id="checkout-form">
                {% csrf_token %}
                {{ order_request | crispy }}
                <div id="save-details" class="save-details pt-1">
                    {% if user.is_authenticated %}
                    <label class="form-check-label" for="save-details-checkbox">Save details for future
                        orders</label>
                    <input class="form-check-input ml-2 mr-0" type="checkbox" id="save-details-checkbox"
                        name="save-details" checked>
                    {% else %}
                    <label class="form-check-label" for="id-save-info">
                        <a href="{% url 'account_login' %}">Sign in</a> to save your information or
                        <a href="{% url 'account_signup' %}">Register</a> here
                    </label>
                    {% endif %}
                </div>
        </div>
        <div class="col-12 col-md-6">

            <h4>Payment Details</h4>
            <hr>
            <p>Enter card payment details here:</p>
            <div id="payment-details"></div>
            <div id="card-error-message"></div>
            <p class="pt-3"><strong>Order total:</strong> £{{ order_total | floatformat:2 }} (incl. delivery)</p>
            <div class="submit-btn pt-3">
                <a href="{% url 'basket' %}" class="btn pr-4">
                    <span class="icon">
                        <i class="fas fa-arrow-left pr-1"></i>
                    </span>
                    <span>Return to basket</span>
                </a>
                <button id="submit-btn" class="btn bg-success text-white">
                    <span>Complete order</span>
                </button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
