{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="header-container">
    </div>
{% endblock %}

{% block content %}
<div id="basket-page" class="container pt-5">
    <div class="row">
        <div class="col">
            <hr>
            <h2>Checkout</h2>
            <hr>
        </div>
    </div>
    <div id="basket-page" class="container pt-5">
        <div class="row">
            <div class="col">
               <p>Please enter your details below:</p>
               <form action="{% url 'checkout' %}" method="POST" id="checkout-form">
                {% csrf_token %}
               </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // Update quantity on click
    $('.update-btn').click(function (e) {
        var form = $(this).prev('.form-update');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-btn').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}