{% extends 'base.html' %}
{% load static %}
{% load basket_tools %}

{% block page_header %}
    <div class="header-container">
    </div>
{% endblock %}

{% block content %}
<div id="basket-page" class="container pt-5">
    <div class="row" >
        <div class="col-12 col-md-8">
            <h3>Your basket</h3>
            {% if basket_items %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for items in basket_items %}
                        <tr>
                            <td class="w-25">
                                {% if item.product.image %}
                                <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                {% else %}
                                <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                {% endif %}
                                <img src="{{ items.product.image.url }}" class="img-fluid">
                            </td>
                            <td class="py-3">
                                <p><strong>{{ item.product.name }}</strong></p>
                            </td>
                            <td class="w-25">
                                <form class="form form-update" method="POST"
                                    action="{% url 'amend_basket' items.item %}">
                                    {% csrf_token %}
                                    <div class="input">
                                        <input class="form-control" type="number" name="quantity"
                                            value="{{ items.quantity }}" min="1" max="99"
                                            data-item_id="{{ items.item_id }}" id="id_qty_{{ items.item_id }}">
                                    </div>
                                </form>
                                <a class="update-btn text-info cursor">Update</a>
                                <a class="remove-btn float-right text-danger cursor"
                                    id="remove_{{ items.item }}">Remove</a>
                            </td>
                            <td>
                                {{ items.product.price }}
                            </td>
                            <td>
                                {{ items.product.price | calculate_subtotal:items.quantity }}
                            </td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="4" class="text-right">
                                <a href="{% url 'all_products' %}" class="btn pr-4">
                                    <i class="fa-solid fa-arrow-left pr-2"></i><span>Continue Shopping</span>
                                </a>
                                <a href="{% url 'checkout' %}" class="btn px-4 bg-success text-uppercase text-white">
                                    <span>Checkout</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            {% else %}
                <hr>
                <h4 class="pt-3">Your basket is empty.</h4>
                <a href="{% url 'all_products' %}" class="btn pr-4 pt-4">
                    <i class="fa-solid fa-arrow-left pr-2"></i><span>Continue Shopping</span>
                </a>
            {% endif %}
        </div>
        {% if basket_items %}
            <div class="col-12 col-md-4">
                <h3 class="pb-3">Order Summary</h3>
                    <p>Subtotal: £{{ sub_total|floatformat:2 }}</p>
                    <p>Delivery: £{{ delivery|floatformat:2 }}</p>
                    <h5><strong class="mr-2">Order Total:</strong>£{{ order_total|floatformat:2 }}</h5>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script>
    // Update quantity on click
    $('.update-btn').click(function (e) {
        var form = $(this).prev('.form-update');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-btn').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/basket/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>
{% endblock %}