@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

html{
    height: 100%;
}

body{
    height: 100%;
    color:black;
}

.navbar-brand{
    font-family:'Parisienne', cursive;
    color:black;
    font-size: 2rem;
}

/* header */
.btn-outline-dark{
    border-width: 1px;
}

.form-inline{
    display:inline-block;
}

.nav-link {
    color:black;
}

.header-container{
    padding-top: 70px;
}

.toast-container{
    position: fixed;
    top: 85px;
    right: 15px;
    z-index:999999999;
}

.toast{
    overflow: visible;
}

.cursor{
    cursor: pointer;
}

/* home page */
.callout{
    background-color:white;
}

.first-column{
    padding-top:30%;
    padding-bottom: 30%;
}

.carousel-item > img {
    height: 672px;
    object-fit: cover;
}

/* products page */
.price {
    font-size: 1.3rem;
}

/* product description */
#nutrition > button:hover,
#allergen > button:hover {
    font-weight:500;
}

#basket-page{
    height: calc(100vh - 70px);
}

/* footer */
footer{
    background-color:lightgrey;
    padding: 1rem;
}

footer ul{
    text-align: center;
    list-style-type: none;
}

footer ul li a {
    color:black;
}

footer ul li a:hover {
    color:#6F0821;
    text-decoration: none;
    font-weight:600;
}

/* Contact Page */
.contact-info{
    height: 100vh;
    background-color:#F3F3F3;
}

.card{
    background-color:#F3F3F3;
}

/* Media queries */
@media screen and (min-width: 768px) {
    .first-column{
        padding-top:0;
        padding-bottom: 0;
    }

    .form-section{
        padding: 4rem;
    }
  }