{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta_tag %}
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="Full stack Cake company website">
      <meta name="keywords" content="Welsh cakes, cupcakes store, cupcakes, food, bakery, desserts">
      <meta name="author" content="Stacey Jayne Lewis">
    {% endblock %}

    {% block corecss %}
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block corejs %}   
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/d3ffa85e11.js" crossorigin="anonymous"></script>
    {% endblock %}

    <title>The Cake Tin | {% block extra_title  %}{% endblock %}</title>

  </head>

  <body>

  <header class="container-fluid fixed-top bg-white text-black">
      <!-- Top nav -->
      <nav class="navbar navbar-expand-lg py-lg-0">
          <a class="navbar-brand" href="{% url 'home' %}">
          <strong>Cake Tin</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-button">
            <i class="fa-solid fa-bars"></i>
          </button>

          <div class="collapse navbar-collapse text-center" id="navbar-collapse-button">
              <ul class="navbar-nav ml-lg-4 mr-auto">
                  <li class="nav-item active pr-2">
                      <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown pr-2">
                    <a class="nav-link" href="#" data-toggle="dropdown">Our Products</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="{% url 'all_products' %}">All Cupcakes</a>
                      <a class="dropdown-item" href="{% url 'all_products' %}?category=winter_collection_cupcakes">Winter Collection</a>
                      <a class="dropdown-item" href="{% url 'all_products' %}?category=valentines_cupcakes">Valentines Collection</a>
                      <a class="dropdown-item" href="{% url 'all_products' %}?category=special_offers">Special Offers</a>
                    </div>
                  </li>
                  </li>
                   <li class="nav-item pr-2">
                      <a class="nav-link" href="#">Contact Us</a>
                  </li>
              </ul>
              <form class="form-inline mr-lg-3" method="GET" action="{% url 'all_products' %}">
                <input class="form-control bg-white text-dark btn-outline-dark mr-1" type="search" name="q" placeholder="Search products" aria-label="Search">
                <button class="btn bg-dark text-white mt-2 mt-md-0" type="submit">Search</button>
              </form>
            <ul class="navbar-nav">
              {% if request.user.is_authenticated %}
                <li class="nav-item dropdown my-auto pr-2">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">My Account</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Order History</a>
                    <a class="dropdown-item" href="#">Details</a>
                    {% if request.user.is_superuser %}
                      <a class="dropdown-item" href="#">Manage Store</a>
                    {% endif %}
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Log Out</a>
                  </div>
                </li>
              {% else %}
                <li class="nav-item my-auto pr-2">
                  <a href="{% url 'account_login' %}" class="nav-link" href="#">Sign In</a>
                </li>
                <li class="nav-item my-auto pr-2">
                  <a href="{% url 'account_signup' %}" class="nav-link">Register</a>
                </li>
              {% endif %}
                <li class="nav-item">
                  <a class="{% if order_total %}text-dark{% endif %} nav-link" href="{% url 'basket' %}">
                    <i class="fa-solid fa-basket-shopping"></i>
                    <p class="my-0">
                      {% if sub_total %}
                        £{{ sub_total|floatformat:2 }}
                      {% else %}
                        £0.00
                      {% endif %}
                    </p>
                  </a>
                </li>
            </ul>
          </div>
      </nav>
  </header>

    {% if messages %}
      <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    <footer>
      <div class="row">
        <div class="col-12 col-md-4">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Our Products</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
          <ul>
            <li><a href="#">FAQ's</a></li>
            <li><a href="#">Delivery</a></li>
            <li><a href="#">Terms & Conditions</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-4">
          <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instragram</a></li>
          </ul>
        </div>
      </div>
    </footer>
    {% endblock %}

    {% block postloadjs %}
    
    {% endblock %}

  </body>
</html>