{% extends 'base.html' %}

{% block page_header %}
<div class="header-container">
</div>
{% endblock %}

{% block content %}
<div class="form-container container-fluid">
    <div class="row">
        <section class="contact-info col-12 col-lg-7">
            <div class="row">
                <div class="card-deck col-12 text-center">
                    <div class="card border-0">
                        <img src="/media/phone-symbol.png" class="card-img-top" alt="contact symbol icon">
                        <div class="card-body">
                            <h5 class="card-title">Contact</h5>
                            <p><strong>Customer line:<br></strong> 01756 801568<br>
                            <strong>Advertisment enquiries:<br></strong> 01756 802568</p>
                        </div>
                    </div>
                    <div class="card border-0">
                        <img src="/media/location-symbol.png" class="card-img-top" alt="location symbol icon">
                        <div class="card-body">
                            <h5 class="card-title">Location</h5>
                            <p><strong>Address:</strong><br>
                            105 Hull Street,
                            Swansea<br>
                            SA1 8LP</p>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body email-card">
                            <img src="/media/mail-symbol.png" class="card-img-top" alt="contact symbol icon">
                            <h5 class="card-title email-title">Email</h5>
                            <p><strong>General Enquiries:</strong><br>
                            hello@caketin.com
                            <strong>Advertising:</strong>
                            advertising@caketin.com
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="form-section col-12 col-lg-5 text-center">
            <h5>Get in touch here.. Piece of Cake!</h5>
            <p class="text-muted small">*required field</p>
            <form method="POST" action="">
                <div class="form-group m-3">
                    <label for="name" class="col-form-label">Full Name:</label>
                    <input type="text" class="form-control" id="name">
                    <small class="text-muted">*required</small>
                </div>
                <div class="form-group m-3">
                    <label for="email" class="col-form-label">Email:</label>
                    <input type="email" class="form-control" id="email" required>
                    <small class="text-muted">*required</small>
                </div>
                <div class="form-group m-3">
                    <label for="number" class="col-form-label">Contact Number:</label>
                    <input type="number" class="form-control" id="number">
                </div>
                <div class="message-area m-3">
                    <label for="message">Message:<br></label>
                    <textarea class="form-control" id="message" placeholder="Enter message here"></textarea>
                    <small class="text-muted">*required</small>
                </div>
                <div class="form-group pt-4">
                    <button type="submit" class="btn btn-lg bg-dark text-white px-5 active">Send</button>
                </div>
            </form>
        </section>
    </div>
</div>
{% endblock %}