{% extends 'base.html' %}

{% block page_header %}
<div class="header-container">
</div>
{% endblock %}

{% block content %}
<div class="form-container container-fluid">
    <div class="row">
        <section class="contact-info col-12 col-lg-7 p-5">
            <div class="row p-5">
                <div class="card-deck col-12 text-center p-5">
                    <div class="card border-0">
                        <img src="/media/location-symbol.png" class="card-img-top" alt="location symbol icon">
                        <div class="card-body">
                            <h5 class="card-title">Location</h5>
                            <p>105 Hull Street,<br>
                                Swansea<br>
                                SA1 8LP</p>
                        </div>
                    </div>
                    <div class="card border-0">
                        <img src="/media/phone-symbol.png" class="card-img-top" alt="contact symbol icon">
                        <div class="card-body">
                            <h5 class="card-title">Contact</h5>
                            <p>01756 801568</p>
                        </div>
                    </div>
                    <div class="card border-0">
                        <div class="card-body">
                            <img src="/media/mail-symbol.png" class="card-img-top" alt="contact symbol icon">
                            <h5 class="card-title">Email</h5>
                            <p>hello@caketin.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="form-section col-12 col-lg-5 text-center my-auto">
            <h5>Get in touch here.. Piece of Cake!</h5>
            <p class="text-muted small">*required field</p>
            <form method="POST" action="">
                <div class="form-group m-3">
                    <label for="name" class="col-form-label">Full Name:</label>
                    <input type="text" class="form-control" id="name"><br>
                    <small class="text-muted">*required</small>
                </div>
                <div class="form-group">
                    <label for="email" class="col-form-label">Email:</label>
                    <input type="email" class="form-control" id="email" required>
                    <small class="text-muted">*required</small>
                </div>
                <div class="form-group">
                    <label for="number" class="col-form-label">Contact Number:</label>
                    <input type="number" class="form-control" id="number">
                </div>
                <div class="message-area mb-3">
                    <label for="message">Message:<br></label>
                    <textarea class="form-control" id="message" placeholder="Enter message here"></textarea>
                    <small class="text-muted">*required</small>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn px-4 active">Send</button>
                </div>
            </form>
        </section>
    </div>
</div>
{% endblock %}