{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="header-container">
    </div>``
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-5 mx-2">
        <!-- Product image -->
        <div class="col-12 col-md-6 text-center">
            <div class="product-image-container">
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}" target="_blank">
                    </a>
                {% else %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <img src="{{ MEDIA_URL }}no_image.png" class="img-fluid" alt="{{ product.name }}">
                    </a>
                {% endif %}
            </div>
        </div>
        <!-- Product description -->
        <div class="col-12 col-md-6 pt-4 my-auto">
            <p class="display-4">{{ product.name }}</p>
            <p class="lead">{{ product.description }}</p>
            <p class="price">£{{ product.price }}</p>
        </div>
    </div>
</div>
{% endblock %}